In [1]:
import polars as pl
import polars.selectors as cs

# Aggregating rates across rows and columns

## Example - The mean of a rate isn't the combined rate

In [9]:
(df :=
 pl.DataFrame({'Group': 3*['A'] + 2*['B'] + 3*['C'],
               'Value': [1, 2, 3, 5, 2, 3, 3, 2]})
)

shape: (8, 2)
┌───────┬───────┐
│ Group ┆ Value │
│ ---   ┆ ---   │
│ str   ┆ i64   │
╞═══════╪═══════╡
│ A     ┆ 1     │
│ A     ┆ 2     │
│ A     ┆ 3     │
│ B     ┆ 5     │
│ B     ┆ 2     │
│ C     ┆ 3     │
│ C     ┆ 3     │
│ C     ┆ 2     │
└───────┴───────┘

#### Group means

In [10]:
(df
.group_by('Group')
.agg(mean_value = pl.col('Value').mean())
)

shape: (3, 2)
┌───────┬────────────┐
│ Group ┆ mean_value │
│ ---   ┆ ---        │
│ str   ┆ f64        │
╞═══════╪════════════╡
│ C     ┆ 2.666667   │
│ A     ┆ 2.0        │
│ B     ┆ 3.5        │
└───────┴────────────┘

#### Mean of groups means

In [11]:
(mean_of_group_means :=
 df
.group_by('Group')
.agg(mean_value = pl.col('Value').mean())
.select(pl.col('mean_value').mean().alias('mean_of_means'))
)

shape: (1, 1)
┌───────────────┐
│ mean_of_means │
│ ---           │
│ f64           │
╞═══════════════╡
│ 2.722222      │
└───────────────┘

#### Grand mean

In [12]:
(grand_mean :=
 df
.select(pl.col('Value').mean().alias('grand_mean'))
)

shape: (1, 1)
┌────────────┐
│ grand_mean │
│ ---        │
│ f64        │
╞════════════╡
│ 2.625      │
└────────────┘

#### Mean of the group means `!=` grand mean

In [13]:
mean_of_group_means - grand_mean

shape: (1, 1)
┌───────────────┐
│ mean_of_means │
│ ---           │
│ f64           │
╞═══════════════╡
│ 0.097222      │
└───────────────┘

### Examples of common rates

1. Mean,
2. Percent of total and other ratios,
3. Population rates (e.g., X per 1K people),
4. Anything you describe using "per"

## Review - Aggregating rates

When aggregating a rate across groups, we need to

1. Aggregate the numerator and demon, then
2. Compute the rate from to using the aggregated values.

In [7]:
(grand_mean_via_groups :=
 df
.group_by('Group')
.agg(sum_value = pl.col('Value').sum(),
     cnt_value = pl.col('Value').count())
.select(pl.col('sum_value').sum().alias('sum_of_sums'),
        pl.col('cnt_value').sum().alias('cnt_of_cnts'),
       )
.with_columns(grand_mean = pl.col('sum_of_sums')/pl.col('cnt_of_cnts'))
.drop('sum_of_sums','cnt_of_cnts')
)

shape: (1, 1)
┌────────────┐
│ grand_mean │
│ ---        │
│ f64        │
╞════════════╡
│ 2.625      │
└────────────┘

In [27]:
grand_mean_via_groups - grand_mean

shape: (1, 1)
┌────────────┐
│ grand_mean │
│ ---        │
│ f64        │
╞════════════╡
│ 0.0        │
└────────────┘

### Why do we care?

Because sometimes the data is already an aggregated value!

In [14]:
( auto_sales :=
  pl.read_csv('../Activity-3.6/auto_sales_*.csv')
  .rename({'':'ID'})
)

shape: (8, 6)
┌─────┬─────────────┬─────────┬───────┬─────┬───────┐
│ ID  ┆ Salesperson ┆ Compact ┆ Sedan ┆ SUV ┆ Truck │
│ --- ┆ ---         ┆ ---     ┆ ---   ┆ --- ┆ ---   │
│ i64 ┆ str         ┆ i64     ┆ i64   ┆ i64 ┆ i64   │
╞═════╪═════════════╪═════════╪═══════╪═════╪═══════╡
│ 0   ┆ Ann         ┆ 22      ┆ 18    ┆ 15  ┆ 12    │
│ 1   ┆ Bob         ┆ 19      ┆ 12    ┆ 17  ┆ 20    │
│ 2   ┆ Yolanda     ┆ 19      ┆ 8     ┆ 32  ┆ 15    │
│ 3   ┆ Xerxes      ┆ 12      ┆ 23    ┆ 18  ┆ 9     │
│ 0   ┆ Ann         ┆ 22      ┆ 18    ┆ 15  ┆ 12    │
│ 1   ┆ Bob         ┆ 20      ┆ 14    ┆ 6   ┆ 24    │
│ 2   ┆ Yolanda     ┆ 19      ┆ 10    ┆ 28  ┆ 17    │
│ 3   ┆ Xerxes      ┆ 11      ┆ 27    ┆ 17  ┆ 9     │
└─────┴─────────────┴─────────┴───────┴─────┴───────┘

## Aggregating a rate across rows and columns

1. Compute the numerator and denominator row aggregations using `group_by` and `agg`.
2. Compute the numerator and denominator column aggregations using `reduce` or `fold`.

In [15]:
(type_columns := 
 [c for c in auto_sales.columns if c not in ('ID','Salesperson')]
)

['Compact', 'Sedan', 'SUV', 'Truck']

In [21]:
(auto_sales
 .group_by('Salesperson')
 .agg(**{f'sum_{c}':pl.col(c).sum() for c in type_columns},
      **{f'cnt_{c}':pl.col(c).count() for c in type_columns},
     )
 .with_columns(sum_types = pl.reduce(lambda acc, col: acc + col, cs.starts_with('sum')),
               cnt_types = pl.reduce(lambda acc, col: acc + col, cs.starts_with('cnt')),
              )
 .with_columns(grand_mean = pl.col('sum_types')/pl.col('cnt_types'))
  .drop(cs.starts_with('sum') | cs.starts_with('cnt'))
 
)

shape: (4, 2)
┌─────────────┬────────────┐
│ Salesperson ┆ grand_mean │
│ ---         ┆ ---        │
│ str         ┆ f64        │
╞═════════════╪════════════╡
│ Bob         ┆ 16.5       │
│ Ann         ┆ 16.75      │
│ Yolanda     ┆ 18.5       │
│ Xerxes      ┆ 15.75      │
└─────────────┴────────────┘

## <font color="red"> Exercise 3.9.2 </font> - World Bank Population Ratio (urban/total) for each region over the 1980's

Use the approach illustrated in the last example to compute the overall ratio of Urban to Total population for each region across all years in the 1990's. Do this by

1. Loading the raw WB data,
2. Select the columns of interest using column selectors,
3. Filter to the two measures of interest,
4. Unstack the two measures,
5. Group and aggregate the numerator and denominator of the ratio across rows,
6. Use `reduce` to aggregate the numerator and denominator of the ratio across columns, and
7. Compute the ratio.

In [29]:
# your code here
(world_bank := pl.read_csv('../Activity-3.6/world_bank_raw_download_F23.csv',null_values = '..')
)

shape: (10_173, 67)
┌────────────┬────────┬────────────┬───────────┬───┬───────────┬───────────┬───────────┬───────────┐
│ Country    ┆ Region ┆ Series     ┆ Series    ┆ … ┆ 2019      ┆ 2020      ┆ 2021      ┆ 2022      │
│ Name       ┆ ---    ┆ Name       ┆ Code      ┆   ┆ [YR2019]  ┆ [YR2020]  ┆ [YR2021]  ┆ [YR2022]  │
│ ---        ┆ str    ┆ ---        ┆ ---       ┆   ┆ ---       ┆ ---       ┆ ---       ┆ ---       │
│ str        ┆        ┆ str        ┆ str       ┆   ┆ f64       ┆ f64       ┆ f64       ┆ f64       │
╞════════════╪════════╪════════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪═══════════╡
│ Afghanista ┆ Asia   ┆ Diabetes   ┆ SH.STA.DI ┆ … ┆ null      ┆ null      ┆ 10.9      ┆ null      │
│ n          ┆        ┆ prevalence ┆ AB.ZS     ┆   ┆           ┆           ┆           ┆           │
│            ┆        ┆ (% of      ┆           ┆   ┆           ┆           ┆           ┆           │
│            ┆        ┆ popu…      ┆           ┆   ┆           ┆           ┆           ┆           │
│ Afghanista ┆ Asia   ┆ Diabetes   ┆ SH.STA.DI ┆ … ┆ null      ┆ null      ┆ 10.9      ┆ null      │
│ n          ┆        ┆ prevalence ┆ AB.ZS     ┆   ┆           ┆           ┆           ┆           │
│            ┆        ┆ (% of      ┆           ┆   ┆           ┆           ┆           ┆           │
│            ┆        ┆ popu…      ┆           ┆   ┆           ┆           ┆           ┆           │
│ Afghanista ┆ Asia   ┆ Diabetes   ┆ SH.STA.DI ┆ … ┆ null      ┆ null      ┆ 10.9      ┆ null      │
│ n          ┆        ┆ prevalence ┆ AB.ZS     ┆   ┆           ┆           ┆           ┆           │
│            ┆        ┆ (% of      ┆           ┆   ┆           ┆           ┆           ┆           │
│            ┆        ┆ popu…      ┆           ┆   ┆           ┆           ┆           ┆           │
│ Afghanista ┆ Asia   ┆ Diabetes   ┆ SH.STA.DI ┆ … ┆ null      ┆ null      ┆ 10.9      ┆ null      │
│ n          ┆        ┆ prevalence ┆ AB.ZS     ┆   ┆           ┆           ┆           ┆           │
│            ┆        ┆ (% of      ┆           ┆   ┆           ┆           ┆           ┆           │
│            ┆        ┆ popu…      ┆           ┆   ┆           ┆           ┆           ┆           │
│ Afghanista ┆ Asia   ┆ Diabetes   ┆ SH.STA.DI ┆ … ┆ null      ┆ null      ┆ 10.9      ┆ null      │
│ n          ┆        ┆ prevalence ┆ AB.ZS     ┆   ┆           ┆           ┆           ┆           │
│            ┆        ┆ (% of      ┆           ┆   ┆           ┆           ┆           ┆           │
│            ┆        ┆ popu…      ┆           ┆   ┆           ┆           ┆           ┆           │
│ …          ┆ …      ┆ …          ┆ …         ┆ … ┆ …         ┆ …         ┆ …         ┆ …         │
│ null       ┆ null   ┆ null       ┆ null      ┆ … ┆ null      ┆ null      ┆ null      ┆ null      │
│ null       ┆ null   ┆ null       ┆ null      ┆ … ┆ null      ┆ null      ┆ null      ┆ null      │
│ null       ┆ null   ┆ null       ┆ null      ┆ … ┆ null      ┆ null      ┆ null      ┆ null      │
│ Data from  ┆ null   ┆ null       ┆ null      ┆ … ┆ null      ┆ null      ┆ null      ┆ null      │
│ database:  ┆        ┆            ┆           ┆   ┆           ┆           ┆           ┆           │
│ World      ┆        ┆            ┆           ┆   ┆           ┆           ┆           ┆           │
│ Deve…      ┆        ┆            ┆           ┆   ┆           ┆           ┆           ┆           │
│ Last       ┆ null   ┆ null       ┆ null      ┆ … ┆ null      ┆ null      ┆ null      ┆ null      │
│ Updated:   ┆        ┆            ┆           ┆   ┆           ┆           ┆           ┆           │
│ 10/26/2023 ┆        ┆            ┆           ┆   ┆           ┆           ┆           ┆           │
└────────────┴────────┴────────────┴───────────┴───┴───────────┴───────────┴───────────┴───────────┘

In [30]:
(the_80s := 
 [c for c in world_bank.columns if c.startswith('198')]
)

['1980 [YR1980]',
 '1981 [YR1981]',
 '1982 [YR1982]',
 '1983 [YR1983]',
 '1984 [YR1984]',
 '1985 [YR1985]',
 '1986 [YR1986]',
 '1987 [YR1987]',
 '1988 [YR1988]',
 '1989 [YR1989]']

In [47]:
# world bank table
(world_bank
 .select(cs.string() - cs.by_name('Series Code') | cs.starts_with('198'))
 .filter(pl.col('Series Name').str.contains(r'(Population|Urban)'))
 .pivot( on = 'Series Name',
        index = 'Region',
        values = cs.starts_with('198'),
        aggregate_function = 'sum')
 .with_columns(population_ratio = (pl.reduce(lambda acc, col:acc+col, cs.contains('Urban'))/
                                   pl.reduce(lambda acc,  col:acc+col, cs.contains('Population'))
                                  )
              )
 .drop(cs.starts_with('198'))
)

shape: (7, 2)
┌──────────────┬──────────────────┐
│ Region       ┆ population_ratio │
│ ---          ┆ ---              │
│ str          ┆ f64              │
╞══════════════╪══════════════════╡
│ Asia         ┆ 0.278235         │
│ Europe       ┆ 0.686497         │
│ Africa       ┆ 0.288688         │
│ Oceania      ┆ 0.713218         │
│ The Americas ┆ 0.703412         │
│ Middle East  ┆ 0.573099         │
│ null         ┆ 0.378247         │
└──────────────┴──────────────────┘